* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body::after {
    background-image: url(1.jpg);
    filter: blur(2px);
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1em;
    width: 50%;
    margin: 100px auto;
    padding: 50px;
    text-align: center;
}

.form h3 {
    text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white, 0 0 4px white;
    font-size: 20px;
}

input {
    width: 70%;
    padding: 2%;
    color: white;
    text-align: center;
    font-size: 17px;
    border: 0;
    margin: 10px;
    background-color: rgb(49, 49, 49);
}

input[type=submit] {
    border: 2px solid black;
    background-color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    color: black;
    font-weight: bold;
    width: 50%;
    float: none;
}

input[type=submit]:hover {
    background-color: rgb(224, 224, 224);
}

textarea {
    float: left;
    width: 96%;
    margin: 10px;
    padding: 2%;
    background-color: rgb(49, 49, 49);
    color: white;
}
.clear {
    clear: both;
}